[Unit]
Description=Put into /etc/systemd/system/, enable via sudo systemctl enable lock-on-suspend@%USER%
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/%USER%/bin/lock.sh

[Install]
WantedBy=sleep.target
