[Unit]
Description=Put into /etc/systemd/system/, enable via sudo systemctl enable lock-on-suspend@%USER%
Before=sleep.target

[Service]
User=%I
Environment=DISPLAY=:0
ExecStart=slock

[Install]
WantedBy=sleep.target
