[Unit]
Description=Lock X session
Before=sleep.target

[Service]
User=kos
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/bin/xtrlock

[Install]
WantedBy=sleep.target
